body {
  /* min-height: 100vh; */
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: white;
}

.Tubes {
  height: 1700px;
  /* flex: 1; */
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.midd {
  display: grid;
  place-items: center;
}

.card {
  width: 900px;
  height: 750px;
  /* background-color: white;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); */
  /* border-radius: 10px; */
  margin-bottom: 400px;
}

.card-image {
  width: 900px;
  /* margin-left: 500px; */
}

.intr {
  font-size: 50px;
  font-family: Jost;
  margin-bottom: 200px;
}

.title {
  margin-top: 50px;
  font-family: Jost;
  font-weight: bold;
  font-size: 50px;
}
